global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 3s
    stats auth admin:pass

frontend pg_cluster_write
    bind *:5432
    default_backend pg_master_backend

backend pg_master_backend
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni-1 10.183.116.182:5432 maxconn 200 check port 8008
    server patroni-2 10.183.116.225:5432 maxconn 200 check port 8008
    server patroni-3 10.183.116.92:5432 maxconn 200 check port 8008

frontend pg_cluster_read
    bind *:5433
    default_backend pg_replica_backend

backend pg_replica_backend
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server patroni-1 10.183.116.182:5432 maxconn 200 check port 8008
    server patroni-2 10.183.116.225:5432 maxconn 200 check port 8008
    server patroni-3 10.183.116.92:5432 maxconn 200 check port 8008
