global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# --- Panel Statystyk HAProxy (GUI) ---
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:pass  # Login i hasło do panelu

# --- Port Zapisu (Master) ---
frontend pg_cluster_write
    bind *:5432
    default_backend pg_master_backend

backend pg_master_backend
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node1 pg-node1:5432 maxconn 100 check port 8008
    server pg-node2 pg-node2:5432 maxconn 100 check port 8008

# --- Port Odczytu (Replikacja) ---
frontend pg_cluster_read
    bind *:5433
    default_backend pg_replica_backend

backend pg_replica_backend
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server pg-node1 pg-node1:5432 maxconn 100 check port 8008
    server pg-node2 pg-node2:5432 maxconn 100 check port 8008
